body {
  text-align: center;
  font-family: sans-serif;
  color: gray;
  font-weight: bold;
}

h1 {
  font-size: 80px;
}

input,select {
  font-size: 40px;
  text-align: center;
  font-family: sans-serif;
  color: dimgray;
  font-weight: bold;
}

#search {
  font-size: 40px;
}

.helpIntro {
  font-size: 30px;
}

.helpStuff {
  font-size: 30px;
  color: #A9A9A9;
}

i {
  color: gray;
}
