body {
  text-align: center;
  font-family: sans-serif;
  color: gray;
  font-weight: bold;
}

h1, h2, h3 {
  font-size: 80px;
}

input,select {
  font-size: 40px;
  text-align: center;
  font-family: sans-serif;
  color: dimgray;
  font-weight: bold;
}

#search {
  font-size: 40px;
}

.features {
  font-size: 30px;
}

.features2 {
  font-size: 30px;
  color: #A9A9A9;
}

.Descriptions {
  font-size: 30px}

.Help {
  font-size: 30px
  color: #A9A9A9;
}

i {
  color: gray;
}
